:root {
    --darkBlue: rgb(28, 57, 136, 255);
    --lightBlue: rgb(215, 237, 255, 255);
    --mediumBlue: rgba(72, 139, 253, 255);
    --lightGreen: rgba(103, 194, 124, 255);
    --warning: rgba(255, 89, 100, 255);
    --darkMediumBlue: rgba(48, 86, 211, 255);
    --lightGray: rgba(241, 246, 252, 255);

}

Button.button-darkBlue {
    background-color: var(--darkBlue);
    color: white;

    &:hover {
        background-color: var(--darkBlue);
        color: white;
    }
}


Button.button-lightBlue {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    font-weight: 600;

    &:hover {
        background-color: var(--lightBlue);
        color: var(--darkBlue);
    }
}

Button.button-lightGreen {
    background-color: var(--lightGreen);
    color: white;

    &:hover {
        background-color: var(--lightGreen);
        color: white;
    }
}

Button.button-lightGray {
    background-color: var(--lightGray);
    /* color: white; */

    &:hover {
        background-color: var(--lightGray);
        /* color: white; */
    }
}

Button.button-black {
    background-color: rgb(41, 41, 41, 255);
    color: white;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        background-color: rgb(41, 41, 41, 255);
    }
}

Button.button-mediumBlue {
    background-color: var(--mediumBlue);
    color: white;

    &:hover {
        background-color: var(--mediumBlue);
        /* filter: brightness(90%); */
    }
}

Button.button-redButton {
    background-color: var(--warning);
    color: white;

    &:hover {
        background-color: var(--warning);
        color: white;
    }
}

Button.button-darkMediumBlue {
    background-color: var(--darkMediumBlue);
    color: white;

    &:hover {
        background-color: var(--darkMediumBlue);
        color: white;
    }
}

.signIn-paper {
    width: 400px;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the Paper component horizontally */
    padding: 16px;
    /* Add padding for spacing */
}

.faded {
    color: gray !important;
    /*  faded gray color for black button label*/
}

.SignUp-SignIn {
    text-align: center;
    background-image: url('../../public/img/SignUp-SignIn-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    min-height: 250px;
}

@media (max-width: 600px) {
    .SignUp-SignIn {
        min-width: 400px;
    }
}

@media (min-width: 601px) {
    .SignUp-SignIn {
        min-width: 400px;
    }
}

.SignUp-SignIn-splash {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--darkBlue);
    font-family: times;
}


/* assign the following to the class 'input-field */
/* this will modify the default MUI behavior of changing the border color to blue for an active (focused) input field */
.successBorder .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--lightGreen) !important;
}

/* .input-field .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
} */

.darkBlue-text {
    color: var(--darkBlue);
}

.darkBlue-bg {
    background-color: var(--darkBlue);
}

.lightBlue-bg {
    background-color: var(--lightBlue);
}

.header {
    background-color: var(--lightBlue);
    height: 90px;
}

.Dash-and-Header {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
}

.MuiButton-root.IconButton {
    /* Your styles here */
    min-width: '-10px' !important;
}

.MuiTypography-root.inputLabel {
    font-size: larger;
    font-weight: 600;
}

.MuiButton-root {
    transition: box-shadow 0.3s;
    /* Remove the single quotes */
}

.MuiButton-root:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


.QuestionsAndAnswers .trash-icon,
.QuestionsAndAnswers .pencil-icon {
  margin-right: 10px; /* Adjust the margin-right as needed to move the icons to the right. */
}