:root {
    --darkBlue: rgb(28, 57, 136, 255);
    --lightBlue: rgb(215, 237, 255, 255);
    --mediumBlue: rgba(72,139,253,255)
}

Button.button-darkBlue {
  background-color: var(--darkBlue);
  color: white;
}

Button.button-lightBlue {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
  font-weight: 600;
}

Button.button-black {
  background-color: rgb(41, 41, 41, 255);
  color: white;
  font-size: 18px;
  font-weight: 600;
}

Button.button-mediumBlue {
    background-color: var(--mediumBlue);
    color: white;
}

.signIn-paper {
  width: 400px;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the Paper component horizontally */
  padding: 16px;
  /* Add padding for spacing */
}

.faded {
  color: gray !important;
}

/* assign the following to the class 'input-field */
/* this will modify the default MUI behavior of changing the border color to blue for an active (focused) input field */
.input-field .Mui-focused .MuiOutlinedInput-notchedOutline {  
  border-color: #53af5b !important;
}

.darkBlue-text {
    color: var(--darkBlue);
}

.darkBlue-bg {
    background-color: var(--darkBlue);
}

.lightBlue-bg {
    background-color: var(--lightBlue);
}
